<app-header></app-header>


<main class="content p-3">
  <app-fil-ariane [breadcrumbItems]="breadcrumbItems"></app-fil-ariane>

  <ul class="bg-white m-0 p-0 rounded shadow align-top d-inline-block block-categorie">
    <li class="name-cat fs-3 text-black py-4 text-center" (click)="initCat()">{{categorieSelected.label}}</li>
    <li class="py-4 fs-6 text-start" *ngFor="let ssCat of categorieSelected.ssCategories" (click)="filterBySSCategorie(ssCat)">
      <span class="ps-2 name-ss-cat"></span>{{ ssCat.label }} <span class="nb-article-by-ss-cat">({{ssCat.nbArticle}})</span>
    </li>
  </ul>
  <div class="align-top d-inline-block block-produits">
    <app-list-produit [produits]="produits" [siteSelected]="siteSelected" (onClickAfficherPlus)="afficherPlus()"></app-list-produit>
  </div>
    <router-outlet #outlet="outlet"></router-outlet>
</main>
