<div class="pb-2">
  <div class="shadow mb-2 d-block bg-white text-center rounded-2 overflow-auto p-2 mx-2">
    <form class="d-inline-block align-top bg-white" [formGroup]="produitForm" novalidate *ngIf="produitForm">
  <div class="d-inline-block w-50 align-top block-img text-center">
    <app-upload-file></app-upload-file>
   <!-- <img src="assets/add-photo.jpg" alt="img_produit"/> -->
  </div>
  <div class="d-inline-block w-50 align-top block-img text-center">
    <div class="text-start">
      <h3 class="text-secondary">Informations sur le produit</h3>
      <div class="d-flex flex-row">
        <mat-form-field class="mat-form-field-categorie flex-grow-1" [class.me-2]="listSSCategories.length > 0">
          <mat-label>Catégorie</mat-label>
          <mat-select formControlName="categorie">
            <ng-container *ngFor="let cat of listCategories">
              <mat-option [value]="cat.code">
                <img style="width: 20px; height: 20px" [src]="cat.img"/>
                {{ cat.label }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field-sscategorie flex-grow-1" *ngIf="listSSCategories.length > 0">
          <mat-label>Sous Catégorie</mat-label>
          <mat-select formControlName="ssCategorie">
            <ng-container *ngFor="let cat of listSSCategories">
              <mat-option [value]="cat.code">
                {{ cat.label }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-form-field class="mat-form-field-name w-100">
        <input matInput
               placeholder="Titre du produit"
               maxlength="51"
               minlength="6"
               type="text"
               formControlName="name"
               required>
        <mat-error *ngIf="hasError(produitForm, 'name', 'required')">Veuillez saisir une nom</mat-error>
        <mat-error *ngIf="(hasError(produitForm, 'name', 'minlength') || hasError(produitForm, 'name', 'maxlength'))">
          Votre nom doit contenir entre 3  et 100 caractères
        </mat-error>
      </mat-form-field>
      <div class="d-flex flex-row">
        <mat-form-field class="mat-form-field-name me-4 flex-grow-1 w-100">
          <input matInput
                 placeholder="Quantité disponible"
                 type="number"
                 formControlName="quantite"
                 required>
          <mat-error *ngIf="hasError(produitForm, 'quantite', 'required')">Veuillez saisir une quantité</mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-name flex-grow-1 w-100">
          <input matInput
                 placeholder="Prix"
                 type="number"
                 formControlName="tarif"
                 required>
          <mat-error *ngIf="hasError(produitForm, 'tarif', 'required')">Veuillez saisir une prix</mat-error>
        </mat-form-field>
      </div>
      <h3 class="text-secondary">Informations sur l'article</h3>
      <div class="d-flex flex-row">
        <mat-form-field class="mat-form-field-name me-4 flex-grow-1">
          <input matInput
                 placeholder="Poids min (g)"
                 type="number"
                 formControlName="poidsMin">
        </mat-form-field>
        <mat-form-field class="mat-form-field-name flex-grow-1">
          <input matInput
                 placeholder="Poids max (g)"
                 type="number"
                 formControlName="poidsMax">
        </mat-form-field>
      </div>
      <mat-form-field class="mat-form-field-name me-4 w-100">
        <input matInput
               placeholder="Nombre de pièce par article"
               type="number"
               formControlName="nbPieceLot"
               required>
      </mat-form-field>

      <!-- <mat-form-field class="mat-form-field-status me-4">
         <mat-label>Type</mat-label>
         <mat-select formControlName="typeTarif">
           <ng-container *ngFor="let type of listTypeTarif">
             <mat-option [value]="type.code">{{ type.label }}</mat-option>
           </ng-container>
         </mat-select>
       </mat-form-field>-->
      <!-- <h3 class="text-secondary">Description du produit</h3>
       <mat-form-field class="d-block w-100">
         <mat-label>Description</mat-label>
         <textarea matInput
                   formControlName="description"
                   rows="4"
                   cdkAutosizeMinRows="1"
                   cdkAutosizeMaxRows="5">
           </textarea>
       </mat-form-field>-->
    </div>
  </div>
  <div class="text-center w-100 mt-3">
    <button mat-stroked-button
            color="accent"
            type="button"
            class="me-2">
      Annuler
    </button>
    <button mat-raised-button
            type="submit"
            color="primary"
            (click)="submit()">
      Valider
    </button>
  </div>
</form>
  </div>
</div>
