  <div class="fond pt-3">
  <div *ngIf="user" class="bloc-mx-35 bloc-login-form shadow text-center bg-white mx-auto px-2 py-4 p-sm-4 mb-2 mx-auto rounded">
    <h1 class="mb-3">Réinitialiser votre mot de passe</h1>
    <p class="mx-1 text-info">Bonjour, <span class="name">{{ user.firstname}} {{ user.lastname}}</span>.
      <br/>Veuillez saisir votre nouveau mot de passe.
    </p>
    <form [formGroup]="passwordForm"
          autocomplete="off"
          novalidate
          class="d-flex flex-column text-start" (ngSubmit)="submit(passwordForm.value)">
      <mat-form-field class="flex-grow-1">
        <input matInput
               name="password"
               maxlength="51"
               minlength="8"
               formControlName="password"
               placeholder="Nouveau mot de passe"
               [type]="hide ? 'password' : 'text'"
               autocomplete="on"
               required>
        <mat-icon matSuffix  (click)="hide = !hide" color="accent">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="hasError(passwordForm, 'password', 'required')">Veuillez saisir un mot de passe</mat-error>
        <mat-error *ngIf="hasError(passwordForm, 'password', 'minlength') || hasError(passwordForm, 'password', 'maxlength')">
          Votre mot de passe doit contenir entre 8  et 50 caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex-grow-1">
        <input matInput
               name="passwordConfirm"
               maxlength="51"
               minlength="8"
               formControlName="passwordConfirm"
               placeholder="Confirmation"
               [type]="hide2 ? 'password' : 'text'"
               autocomplete="on"
               required>
        <mat-icon matSuffix  (click)="hide2 = !hide2" color="accent">
          {{hide2 ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="hasError(passwordForm, 'passwordConfirm', 'required')">Veuillez saisir un mot de passe</mat-error>
        <mat-error *ngIf="hasError(passwordForm, 'passwordConfirm', 'minlength') || hasError(passwordForm, 'passwordConfirm', 'maxlength')">
          Votre mot de passe doit contenir entre 8  et 50 caractères
        </mat-error>
      </mat-form-field>
        <button
        mat-raised-button
        class="mt-2"
        color="primary"
        name="btn-valider" type="submit">
          Valider
        </button>
    </form>
  </div>
</div>
