<div class="pt-1">
  <div class="block-search m-2 d-block bg-white py-2 text-center rounded-2">
     <button class="d-inline-block text-white"
              mat-raised-button color="accent"
              name="btn-add-compagnie" type="button" (click)="goToAddCompagnie()">
        Ajouter une compagnie
      </button>
  </div>
  <div class="block-search m-2 d-block bg-white pt-2 text-center rounded-2">
    <form [formGroup]="searchForm" novalidate  (ngSubmit)="search()" class="d-flex flex-row">
      <mat-form-field class="flex-grow-1 mx-2" disabled>
        <input matInput
               placeholder="Tapez un mot"
               type="text"
               formControlName="searchTerm">
        <mat-icon matSuffix color="primary">search</mat-icon>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              name="btn-submit"
              class="mx-2 my-auto"
              type="submit">
        Rechercher
      </button>
    </form>
  </div>

  <div class="m-2 d-block bg-white text-center rounded-2 overflow-auto" *ngIf="compagnies.length > 0">
    <table>
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Statut</th>
        <th scope="col">Adresse</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compagnie of compagnies">
          <td>{{ compagnie?.name }}</td>
          <td>
            <i class='material-icons text-{{compagnie.status.color}}'
               matTooltip="{{ compagnie.status.label}}">{{compagnie.status.icon}}
            </i>
          </td>
          <td>{{compagnie.adresse.ville}}</td>
          <td>
            <button mat-button [matMenuTriggerFor]="menu">
              <i class='material-icons'>more_vert
              </i>
            </button>
            <mat-menu #menu="matMenu" class="text-center">
              <button mat-menu-item class="text-center" (click)="goToEditCompagnie(compagnie)">
                <mat-icon aria-label="Edit"
                          class="me-2 align-middle"
                          matTooltip="Modifier"
                          color="primary">
                  edit
                </mat-icon><span class="align-middle">Modifier</span>
              </button>
              <button mat-menu-item class="text-center" (click)="removeCompagnie(compagnie)">
                <mat-icon aria-label="Delete"
                          class="me-2 align-middle"

                          matTooltip="Supprimer"
                          color="accent">
                  delete
                </mat-icon><span class="align-middle">Supprimer</span>
              </button>
            </mat-menu>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

