<div class="d-block bg-white text-start rounded-2 overflow-auto" >
  <div>
    <button mat-raised-button
            color="accent"
            class="text-white mb-2"
            (click)="showPopinAddAdmin()"
            type="submit">
      Ajouter un admin
    </button>
  </div>
  <ul *ngIf="users.length > 0" class="mt-2 text-start ps-0">
    <li *ngFor="let user of users" class="text-black-50 fst-italic my-2 d-flex flex-row">
      <span class="flex-grow-1">{{ user.email }}</span>
      <mat-icon aria-label="Delete"
                class="me-2 align-middle"
                matTooltip="Supprimer"
                color="accent">
        delete
      </mat-icon>
    </li>
  </ul>
  <p *ngIf="users.length === 0"
     class="produit-empty text-center fs-3 text-black-50 p-4 ms-0 ms-sm-2 bg-white d-block">Aucun administrateur
  </p>
</div>

