<div class="menu">
  <ul>
    <li [class.active]="isActive('informations')"
        (click)="goToUrl(['administration', 'compagnie', idCompagnie, 'informations'])">
      Informations
    </li>
    <li [class.active]="isActive('commandes')"
        (click)="goToUrl(['administration', 'compagnie',idCompagnie, 'commandes'])">
      Commandes
    </li>
    <li [class.active]="isActive('produits')"
        (click)="goToUrl(['administration', 'compagnie',idCompagnie, 'produits'])">
      Produits
    </li>
  </ul>
</div>

