<div class="pt-1 pb-2">
  <div class="block-search m-2 d-block bg-white py-2 text-center rounded-2">
    <button class="d-inline-block text-white"
            mat-raised-button color="accent"
            name="btn-add-compagnie" type="button" (click)="goToAddSite()">
      Ajouter un site
    </button>
  </div>
  <div class="block-search m-2 d-block bg-white pt-2 text-center rounded-2">
    <form [formGroup]="searchForm" novalidate  (ngSubmit)="search()" class="d-flex flex-row">
      <mat-form-field class="flex-grow-1 mx-2" disabled>
        <input matInput
               placeholder="Tapez un mot"
               type="text"
               formControlName="searchTerm">
        <mat-icon matSuffix color="primary">search</mat-icon>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              name="btn-submit"
              class="mx-2 my-auto"
              type="submit">
        Rechercher
      </button>
    </form>
  </div>

  <div class="m-2 d-block bg-white text-center rounded-2 overflow-auto p-2" *ngIf="sites.length > 0">
    <h2 class="mx-2 my-2 text-start"><span matBadge="{{pagination.nbItems}}" matBadgeOverlap="false">Site</span></h2>
    <table>
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Statut</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let site of sites">
        <td>{{ site?.name }}</td>
        <td>
          <i class='material-icons text-{{site.status.color}}'
             matTooltip="{{ site.status.label}}">{{site.status.icon}}
          </i>
        </td>
        <td>
          <button mat-button [matMenuTriggerFor]="menu">
            <i class='material-icons'>more_vert
            </i>
          </button>
          <mat-menu #menu="matMenu" class="text-center">
            <button mat-menu-item class="text-center" (click)="goToEditSite(site)">
              <mat-icon aria-label="Edit"
                        class="me-2 align-middle"
                        matTooltip="Modifier"
                        color="accent">
                edit
              </mat-icon><span class="align-middle">Modifier</span>
            </button>
            <button mat-menu-item class="text-center"  (click)="removeSite(site.id)">
              <mat-icon aria-label="Delete"
                        class="me-2 align-middle"
                        matTooltip="Supprimer"
                        color="accent">
                delete
              </mat-icon><span class="align-middle">Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination *ngIf="pagination" [pagination]="pagination" (change)="search()" class="pb-2 mb-2"></app-pagination>
</div>
