<!-- <mat-form-field class="upload">
  <div>
    <mat-toolbar>
      <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <button mat-flat-button color="primary">Browse File</button>
    </mat-toolbar>
    <input
      style="display: none;"
      type="file"
      #fileInput
      id="uploadFile"
      (change)="uploadFileEvt($event)"
      name="uploadFile"
      multiple="multiple"
      accept="image/*"
    />
  </div>
</mat-form-field>-->


<input
  style="display: none;"
  type="file"
  #fileInput
  id="uploadFile"
  (change)="uploadFileEvt($event)"
  name="uploadFile"
  multiple="multiple"
  accept="image/*"
/>

<img src="assets/add-photo.jpg" alt="add_photo" (click)="showPopinUplad()"/>
