<div class="d-flex flex-column flex-sm-row justify-content-center flex-wrap text-sm-center mx-auto">
  <div *ngFor="let produit of produits" class="produit align-middle mb-2 mx-0 mx-sm-2 p-0 bg-white shadow d-flex flex-column flex-wrap">
    <img class="mx-auto img-produit" [src]="produit.srcImg" [alt]="produit.name">
    <div class="flex-grow-1 d-flex flex-column">
      <div class="content m-2 px-2 flex-grow-1 d-flex flex-column">
        <p class="produit-title text-center mb-1">{{ produit.name }}</p>
        <p class="title-compagnie text-center font-italic text-black-50 mb-3 flex-grow-1">{{ produit.compagnieName }}</p>
        <div class="description flex-grow-1 d-flex flex-row mb-0 ">
            <span class="sous-description text-black-50 text-start flex-grow-1">
              {{ produit.getlabelPoids() }}
              <br *ngIf="produit.getlabelPoids()"/>
              <ng-container *ngIf="produit.nbPieceLot > 1"> {{ produit.getLabelPieceLot() }}</ng-container>
            </span>
            <span class="price text-end fs-3 text-primary">{{ produit.tarif }} €</span>
        </div>
      </div>
      <div class="text-center py-2 px-2 block-action-produit-commande">
        <button *ngIf="!getIdProduitCommande().includes(produit.id)"
                mat-raised-button
                type="submit"
                class="w-100"
                (click)="addBasket(produit)"
                color="primary">
          Ajouter au panier
        </button>

        <ng-container *ngIf="getIdProduitCommande().includes(produit.id)">
          <button
                  mat-raised-button
                  type="submit"
                  class="d-inline-block"
                  (click)="removeQuantiteBasket(produit)"
                  color="primary">
            -
          </button>
          <span class="d-inline-block">{{ getQuantiteCommade(produit) }}</span>
          <button
            mat-raised-button
            type="submit"
            class="d-inline-block"
            (click)="addQuantiteBasket(produit)"
            color="primary">
            +
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="actions text-center w-100">
    <button
      *ngIf="produits.length > 0"
      mat-raised-button
      type="button"
      class="w-75 btn-afficher-plus"
      color="accent"
      (click)="afficherPlus()">
      Afficher plus
    </button>
  </div>
  <p *ngIf="produits.length === 0"
       class="produit-empty text-center fs-3 text-black-50 w-100 p-4 ms-0 ms-sm-2 bg-white shadow d-block">Aucun produit
  </p>
</div>
