.produit-empty {
  font-style: italic;
  font-weight: 700;
  background: #f3f3f3;
}

.produit {
  .sous-description {
    font-size: 14px;
  }

  .img-produit {
    margin: auto;
    max-width: 15em;
    cursor: pointer;

  }

  .price {
    font-weight: 500;
  }

  .title-compagnie {
    color: #777777;
    font-size: 14px;
    font-style: italic;
  }

  .produit-title {
    font-size: 15px;
  }

  .block-action-produit-commande {

    max-height: 4em;
    display: block;

    button, span {
      display: inline-block;
    }

    button {
      width: 4em;
    }

    span {
      width: calc(100% - 10em + 10px);
    }
  }
}

.btn-afficher-plus {
  color: white;
}

@media only screen and (max-width: 750px) {
  img {
    max-width: 220px;
  }

  .btn-afficher-plus {
    width: 100%;
  }
}

@media only screen and (min-width: 581px) {

  .title-compagnie,
  .produit-title {
    max-width: 11em;
    margin: 0 auto 0 auto;
  }

  .btn-afficher-plus {
    width: 75%;
  }
}



