<div class="fond pt-3">
  <div class="bloc-mx-35 bloc-login-form shadow text-center bg-white mx-auto px-2 py-4 p-sm-4 mb-2 mx-auto rounded">
    <h1 class="mb-3">Mot de passe oublié ?</h1>
    <p class="mx-1 text-info">Indiquez ci-dessous l'adresse email que vous utilisez pour
      vous connecter à votre compte.
      Vous recevrez un email vous indiquant la marche à suivre pour récupérer l’accès à votre compte.
    </p>
    <form [formGroup]="passwordForm"
          autocomplete="off"
          novalidate
          class="d-flex flex-column text-start" (ngSubmit)="submit(passwordForm.value)">
      <mat-form-field class="mat-form-field-email mx-2 mb-4">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix color="accent">email</mat-icon>
        <mat-error *ngIf="hasError('email', 'required')">Veuillez saisir une adresse mail</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Veuillez saisir une adresse mail valide</mat-error>
      </mat-form-field>
        <button
        mat-raised-button color="primary"
        name="btn-valider" type="submit">Valider
        </button>
      <span
        class="mt-3 text-start text-secondary px-0"
        name="btn-back" [routerLink]="['auth/login']" >
        <mat-icon class="d-inline-block align-middle mb-1" color="primary">chevron_left</mat-icon>
      <a mat-flat-button class="back px-0 text-start text-secondary" target="_blank">Retour</a>
      </span>
    </form>
  </div>
</div>
