<app-header></app-header>
  <main class="font-weight-500 bg-white h-100 d-flex flex-column">
  <h1 class="text-center p-sm-4 px-0 mx-sm-3 mx-0 mt-2 fs-2 fs-sm-4">Le marché de vos producteurs, artisants et commerçants locaux</h1>
  <div class="mx-0 mx-sm-4 d-flex flex-column flex-md-row">

    <div class="col col-md-6 mx-0 mx-md-4">
      <img src="assets/icons/home/produit-locaux.jpg"
         alt="produits-locaux"
         class="w-100 h-100 shadow rounded flex-grow-1 "/>
    </div>
    <div class="block-local text-center flex-grow-1 d-flex flex-column align-items-center justify-content-center">
      <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center fs-4 text-primary mt-2 mt-md-0">Soutien l'économie local</h2>
        <p class="mx-0 mx-md-4 px-0 px-md-4">Consommer des produits locaux, c’est aussi soutenir l’économie locale en permettant une meilleure rémunération des producteurs et des artisants autour de nous.</p>
      </div>
      <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center fs-4 text-primary mt-2 mt-md-0">Respect de l'environnement</h2>
        <p>Les produits parcourent moins de 5km avant votre porte.</p>
        <p>Chaque site propose un choix unique de produit.</p>
      </div>

    </div>
  </div>

  <div class="m-sm-4 m-2 ps-sm-4 ps-0">
    <h2 class="text-start fs-4 text-primary ps-sm-4 ps-0 ps-md-2 mt-2 mb-0 mt-md-0">Artisants</h2>
    <app-line-compagnies [compagnies]="compagnies"></app-line-compagnies>
  </div>
</main>


