<app-header></app-header>

<main class="d-flex flex-column flex-lg-row w-100">
  <div class="bloc-image flex-grow-1">
    <img src="assets/produits-locaux.jpg" alt="produits-locaux" class="w-100 h-100"/>
  </div>
  <div class="text-center text-danger w-100 bg-white d-flex flex-column flex-grow-1">
    <div class="description-farm-store my-auto p-3">
      Découvrez <strong>les produits locaux</strong> de vos fermiers, éleveurs et artisants,
      <br/>pour votre intérêt, celui du producteur et de notre chère planète !
      <br/><br/>Comparez, évaluez pour que chacun puisse consommer mieux et moins chère !
    </div>
    <div class="bandeau-bienvenue bg-danger text-white p-3">
      <span class="title-offre h2 mb-1 d-inline-block"><strong>5€ offerts dès 50€ d'achats</strong></span><br/>
      <span class="description-offre">Sur votre première commade avec le code </span>
      <span class="code-offre rounded bg-white text-danger px-2 py-1 mt-3">Bienvenue</span>
    </div>
  </div>
</main>
