<app-header></app-header>
<main class="font-weight-500 bg-white h-100 d-flex flex-column">
  <h1 class="text-center p-4 mx-3 fs-2">Le marché de vos producteurs, artisants et commerçants locaux</h1>
  <div class="mx-4 d-flex flex-column flex-md-row">

    <div class="col col-md-6 mx-0 mx-md-4">
      <img src="assets/icons/home/produit-locaux.jpg"
         alt="produits-locaux"
         class="w-100 h-100 shadow rounded flex-grow-1 "/>
    </div>
    <div class="block-local text-center flex-grow-1 d-flex flex-column align-items-center justify-content-center">
      <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center fs-4 text-primary mt-2 mt-md-0">Soutien l'économie local</h2>
        <p class="mx-0 mx-md-4 px-0 px-md-4">Consommer des produits locaux, c’est aussi soutenir l’économie locale en permettant une meilleure rémunération des producteurs et des artisants autour de nous.</p>
      </div>
      <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center fs-4 text-primary mt-2 mt-md-0">Respect de l'environnement</h2>
        <p>Les produits parcourent moins de 5km avant votre porte.</p>
        <p>Chaque site propose un choix unique de produit.</p>
      </div>

    </div>
  </div>

  <div class="m-4 ps-4">
    <h2 class="text-start fs-4 text-primary mt-2 mt-md-0">Artisants</h2>

  </div>
</main>
<!--

<main class="d-flex flex-column flex-lg-row w-100">
  <div class="bloc-image flex-grow-1">
    <img src="assets/produits-locaux.jpg" alt="produits-locaux" class="w-100 h-100"/>
  </div>
  <div class="text-center text-secondary w-100 bg-white d-flex flex-column flex-grow-1">
    <div class="description-farm-store my-auto p-3">
      Découvrez <strong>les produits locaux</strong> de vos fermiers, éleveurs et artisants,
      <br/>pour votre intérêt, celui du producteur et de notre chère planète !
      <br/><br/>Comparez, évaluez pour que chacun puisse consommer mieux et moins chère !
    </div>
    <div class="bandeau-bienvenue bg-primary text-white p-3">
      <span class="title-offre h2 mb-1 d-inline-block"><strong>5€ offerts dès 50€ d'achats</strong></span><br/>
      <span class="description-offre">Sur votre première commade avec le code </span>
      <span class="code-offre rounded bg-white text-primary px-2 py-1 mt-3">Bienvenue</span>
    </div>
  </div>

  <div class="m-2 shadow"></div>
</main>-->
