ul {
  height: 30em;

  li {
    max-width: 14rem;
    min-width: 14rem;
    max-height: 12rem;
    min-height: 12rem;
    vertical-align: middle;

    &:hover {
      background: #f5f5f5;

      img {
        filter: invert(0.04);
      }
    }
  }
}
img {
 // filter: invert(0.04);
  max-width: 7rem;
  min-width: 7rem;
  max-height: 6rem;
  min-height: 6rem;
}

.description {
  text-align: center;
  color: darkgrey;
  font-style: italic;

  strong:hover {
    font-style: oblique;
    cursor: pointer;
    color: #525151;
  }
}
