<div class="pt-1 pb-2">
  <div class="block-search m-2 d-block bg-white pt-2 text-center rounded-2">
    <form [formGroup]="searchForm" novalidate  (ngSubmit)="search()" class="d-flex flex-row">
      <mat-form-field class="flex-grow-1 mx-4" disabled>
        <input matInput
               placeholder="Tapez un mot"
               type="text"
               formControlName="searchTerm">
        <mat-icon matSuffix color="primary">search</mat-icon>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              name="btn-submit"
              class="mx-2 my-auto"
              type="submit">
        Rechercher
      </button>
    </form>
  </div>
  <div class="m-2 d-block bg-white text-center rounded-2 overflow-auto p-2" *ngIf="users.length > 0">
    <h2 class="mx-2 my-2 text-start"><span matBadge="{{pagination.nbItems}}" matBadgeOverlap="false">Utilisateurs</span></h2>
    <table>
      <thead>
      <tr>
        <th scope="col">Mail</th>
        <th scope="col">Statut</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user?.email }}</td>
          <td>
            <mat-icon [color]="user.status.color"
                      matTooltip="{{user.modificationDate  | date:'DD-MM-YYYY'}}">
              {{ user.status.icon }}
            </mat-icon>
          </td>
          <td>
            <button mat-button [matMenuTriggerFor]="menu">
              <i class='material-icons'>more_vert
              </i>
            </button>
            <mat-menu #menu="matMenu" class="text-start">
              <button mat-menu-item class="text-start" (click)="goToEditUser(user)">
                <mat-icon aria-label="Edit"
                          class="me-2 align-middle"
                          matTooltip="Modifier"
                          color="accent">
                  edit
                </mat-icon>
                <span class="align-middle">Modifier</span>
              </button>
              <button mat-menu-item class="text-start" (click)="goTochangeStatus(user)">
                <mat-icon aria-label="Edit"
                          class="me-2 align-middle"
                          matTooltip="Modifier"
                          color="accent">
                  {{ user.status === listStatusUser.ACTIF ? listStatusUser.DESACTIVE.icon : listStatusUser.ACTIF.icon }}
                </mat-icon>
                <span class="align-middle">
                 {{ user.status === listStatusUser.ACTIF ? listStatusUser.DESACTIVE.labelAction : listStatusUser.ACTIF.labelAction }}
                </span>
              </button>
              <button mat-menu-item class="text-start"  (click)="removeUser(user.id)">
                <mat-icon aria-label="Delete"
                          class="me-2 align-middle"
                          matTooltip="Supprimer"
                          color="accent">
                  delete
                </mat-icon><span class="align-middle">Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination *ngIf="pagination" [pagination]="pagination" (change)="search()" class="pb-2 mb-2"></app-pagination>

</div>
