<div class="bg-dark px-4 px-sm-2 d-flex flex-column w-100 position-absolute bottom-0">
  <div class="d-flex flex-row justify-content-center align-items-start w-100 flex-wrap">
    <div class="text-white p-2 p-sm-4">
      <h2 class="bold">Nos enjeux</h2>
      <ul class=" m-0">
        <li>Environnement</li>
      </ul>
    </div>
    <div class="text-white p-2 p-sm-4">
      <h2 class="bold">Nous contacter</h2>
      <ul class="text-white m-0">
        <li>Rejoins nous</li>
        <li>Email</li>

      </ul>
    </div>

    <div class="text-white p-2 p-sm-4">
      <h2 class="bold">Nous suivre</h2>
      <ul class="text-white m-0">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>

  <div>

  </div>
</div>
