
<form [formGroup]="compagnieForm" novalidate *ngIf="compagnieForm" [class.pt-2]="isCreated" class="mx-2">
    <mat-accordion class="example-headers-align" [multi]="!compagnie.id">
      <mat-expansion-panel [expanded]="step === 0 || !compagnie.id" (opened)="step =0 " [class.mx-3]="!compagnie.id">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="title-icon my-auto me-2" color="primary">account_circle</mat-icon>
            <h3 class="my-auto">Informations</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex text-start flex-column flex-md-row flex-lg-row">
          <mat-form-field class="mat-form-field-name mx-4 flex-md-grow-1 flex-lg-grow-1">
          <input matInput
                 placeholder="name"
                 maxlength="51"
                 minlength="6"
                 type="text"
                 formControlName="name"
                 required>
          <mat-error *ngIf="hasError(compagnieForm, 'name', 'required')">Veuillez saisir une nom</mat-error>
          <mat-error *ngIf="(hasError(compagnieForm, 'name', 'minlength') || hasError(compagnieForm, 'name', 'maxlength'))">
            Votre nom doit contenir entre 6  et 50 caractères
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field-siret w-auto d-block mx-3">
          <input matInput
                 placeholder="siret"
                 maxlength="51"
                 minlength="6"
                 type="text"
                 formControlName="siret"
                 required>
          <mat-error *ngIf="hasError(compagnieForm, 'siret', 'required')">Veuillez saisir un SIRET</mat-error>
          <mat-error *ngIf="(hasError(compagnieForm, 'siret', 'minlength') || hasError(compagnieForm, 'name', 'maxlength'))">
            Votre SIRET doit contenir 14 chiffres
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field-status w-auto d-block mx-3">
          <mat-label>Statut</mat-label>
          <mat-select formControlName="status" [disabled]="!updateInfo">
            <ng-container *ngFor="let status of listStatus">
              <mat-option [value]="status.code">{{ status.label }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="text-center" *ngIf="!isCreated">
        <button *ngIf="!updateInfo"
                mat-raised-button
                color="primary"
                type="button"
                (click)="onUpdateInfo()">
          Modifier
        </button>
        <ng-container *ngIf="updateInfo">
          <a class="reset-form me-3" (click)="resetForm()">
            Annuler
          </a>
          <button mat-raised-button
                  color="primary"
                  (click)="saveCompagnieInfo()"
                  type="submit">
            Enregistrer
          </button>
        </ng-container>
      </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1 || !compagnie.id" (opened)="step = 1" [class.mx-3]="!compagnie.id">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="title-icon my-auto me-2" color="primary">map</mat-icon>
            <h3 class="my-auto">Coordonnées</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex text-start flex-column flex-md-row flex-lg-row">
          <mat-form-field class="mat-form-field-email mx-4 flex-md-grow-1 flex-lg-grow-1">
            <input matInput
                   placeholder="Email"
                   maxlength="51"
                   minlength="6"
                   type="text"
                   formControlName="email"
                   required>
            <mat-icon matSuffix color="accent">email</mat-icon>
            <mat-error *ngIf="hasError(compagnieForm, 'email', 'required')">Veuillez saisir une adresse mail</mat-error>
            <mat-error *ngIf="hasError(compagnieForm, 'email', 'email')">Veuillez saisir une adresse mail valide</mat-error>
            <mat-error *ngIf="(hasError(compagnieForm, 'email', 'minlength')
            || hasError(compagnieForm, 'email', 'maxlength')) &&
             !hasError(compagnieForm, 'email', 'email')">
              Votre mail doit contenir entre 6  et 50 caractères
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-form-field-telephone mx-4 flex-md-grow-1 flex-lg-grow-1" disabled>
            <input matInput
                   placeholder="Téléphone"
                   maxlength="51"
                   minlength="6"
                   type="text"
                   formControlName="telephone"
                   required>
            <mat-icon matSuffix color="accent">phone</mat-icon>
            <mat-error *ngIf="hasError(compagnieForm, 'telephone', 'required')">Veuillez saisir un numéro</mat-error>
          </mat-form-field>
        </div>
        <div class="text-center" *ngIf="!isCreated">
          <button *ngIf="!updateCoordonnee"
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="onUpdateCoordonnee()">
            Modifier
          </button>
          <ng-container *ngIf="updateCoordonnee">
            <a class="reset-form me-3" (click)="resetForm()">
              Annuler
            </a>
            <button mat-raised-button
                    color="primary"
                    (click)="saveCoordonnee()"
                    type="submit">
              Enregistrer
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3 || !compagnie.id"
                           (opened)="step = 3"
                           [class.mx-3]="!compagnie.id">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="title-icon my-auto me-2" color="primary">map</mat-icon>
            <h3 class="my-auto"> Adresse</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-adresse-form #adresseFormComponent
                          [form]="compagnieForm"
                          [adresse]="compagnie.adresse"
                          [disabled]="!updateAdresse">
        </app-adresse-form>
        <div class="text-center" *ngIf="!isCreated">
          <button *ngIf="!updateAdresse"
                  mat-raised-button
                  color="primary"
                  type="button" (click)="onUpdateAdresse()">
            Modifier
          </button>
          <ng-container *ngIf="updateAdresse">
            <a class="reset-form me-3" (click)="resetFormAdresse()">
              Annuler
            </a>
            <button mat-raised-button
                    color="primary"
                    (click)="saveAdresse()"
                    type="submit">
              Enregistrer
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="actions m-0 d-block bg-white p-3 position-fixed bottom-0 w-100 text-end start-0" *ngIf="isCreated">
      <button mat-stroked-button
              color="accent"
              type="button"
              class="mx-2"
              (click)="goToListCompagnie()">
        Retour
      </button>
      <button mat-raised-button
              color="primary"
              (click)="submitForm()"
              type="submit">
        Enregistrer
      </button>
    </div>
  </form>

