<app-header></app-header>
<main>
  <mat-stepper [linear]="true" #stepper class="m-2 d-block bg-white text-center rounded-2 overflow-auto p-0 p-lg-2">
    <mat-step label="Mon panier">
      <div *ngIf="produits.length === 0">
        <h1 class="text-primary">Votre panier est vide !</h1>
        <button mat-stroked-button
                color="accent"
                type="button"
                (click)="goToUrl(['home'])"
                class="me-2">
          Continuer mes achats
        </button>
      </div>
      <div *ngIf="produits.length > 0" class="mt-3">
        <h2 class="my-2 text-start"><span matBadge="{{produits.length}}" matBadgeOverlap="false">Mes articles</span></h2>
        <table>
          <thead class="">
            <tr>
              <th scope="col">Article</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Quantité</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of produits">
              <td class="text-start">
                <img class="mx-auto align-top d-inline-block" width="80" [src]="produit.srcImg" [alt]="produit?.name">
                <div class="d-inline-block ms-sm-3">
                  <strong class="d-block align-top fs-6">{{ produit?.name }}</strong>
                  <span class="d-block">{{ produit.compagnieName }}</span>
                  <span class="d-block text-black-50 mt-1 mt-sm-4">{{ produit.getlabelPoids() }}</span>
                </div>
              </td>
              <td>{{ produit?.tarif}} €</td>
              <td>
                <button
                  mat-raised-button
                  type="submit"
                  class="d-md-inline-block d-block text-white mx-auto"
                  (click)="removeQuantiteBasket(produit)"
                  color="accent">
                  -
                </button>
                <span class="d-lg-inline-block d-sm-block w-25 text-center mx-auto">{{ getQuantiteCommade(produit) }}</span>
                <button
                  mat-raised-button
                  type="submit"
                  class="d-md-inline-block d-block text-white mx-auto"
                  (click)="addQuantiteBasket(produit)"
                  color="accent">
                  +
                </button>
                <a class="mt-2 d-block" (click)="showPopinRemoveProduit(produit)">supprimer</a>
              </td>
              <td class="text-danger fs-6"><strong class="mx-0 mx-lg-3 mx-2">{{ produit.getTotalPrix() | number:'1.0-2' }}&nbsp;€</strong></td>
            </tr>
          </tbody>
        </table>


        <div class="d-flex flex-column flex-sm-row align-items-center block-action my-4 pb-2">
          <div class="d-none d-sm-flex flex-column m-2 flex-grow-1 align-items-center">
            <button mat-raised-button
                    type="button"
                    class="w-100 m-2 max-width"
                    (click)="showStatusDev()"
                    color="primary">
              Imprimer mon panier
            </button>
            <button mat-raised-button
                    type="button"
                    class="w-100 m-2 max-width"
                    (click)="savePanier()"
                    color="primary">
              Enregistrer mon panier
            </button>
          </div>
          <div class=" d-flex flex-row m-2 flex-grow-1 align-items-center text-center">
              <mat-form-field class="mat-form-field-name me-4 flex-grow-1">
                <input matInput
                       placeholder="Un code de réduction"
                       type="number"
                       required>
              </mat-form-field>
              <button mat-raised-button
                      type="button"
                      (click)="showStatusDev()"
                      class="text-white"
                      color="accent">
                OK
              </button>
          </div>
        <div class="block-end-panier d-flex flex-row flex-sm-row m-2 flex-grow-1 align-items-center">
          <span class="fs-4 flex-grow-1 me-4">Montant Total TTC</span>
          <strong class="text-danger fs-3">{{ panier.montantTotal()  | number:'1.0-2'}}&nbsp;€</strong>
        </div>
        </div>
      </div>
      <div *ngIf="produits.length > 0" class="text-end mt-3">
        <button matStepperNext
                class="d-inline-block"
                mat-raised-button
                color="primary"
                (click)="goNextStep()"
                type="button">
          Etape suivante
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step  label="Retrait" [editable]="false">
      <h2 class="text-start ms-2 ms-sm-4">Mon retrait</h2>
      <div class="d-flex flex-column" *ngIf="panier.produits.size > 0">
        <div class="d-flex flex-row align-items-center mx-2 mx-sm-4 my-0 min-height-12em first-line">
          <i class="material-icons align-items-center my-3 mx-2 mx-sm-4">storefront</i>
          <h3 class="align-middle min-size-6em font-weight-500 m-3 fs-5 text-secondary mx-2 mx-sm-4 d-none d-sm-flex">Mon lieu</h3>
          <div class="d-flex flex-column align-items-start my-2 my-sm-3 mx-2 mx-sm-4 flex-grow-1">
            <h3 class="align-middle font-weight-500 m-2 fs-5 text-secondary mx-2 mx-sm-4 d-sm-none text-start">Mon lieu</h3>
            <ng-container *ngIf="panier.modeRetrait === listModeRetrait.SITE">
              <span class="ms-2">Vous avez choisi le site:</span>
              <span class="ms-2 font-weight-600" >{{ siteSelected.name }}</span>
              <span class="small-text text-black-50">
                <i class="material-icons align-items-center align-middle">chevron_right</i>
                <span class="align-middle" (click)="showInformationSite()">Voir les informations</span>
              </span>

            </ng-container>
            <ng-container *ngIf="panier.modeRetrait === listModeRetrait.LIVRAISON">
              <span class="ms-2 mb-2 text-start font-weight-600">Vous avez choisi la livraison à l'adresse suivante:</span>
              <span class="text-start ms-2">{{ userToken.user.firstname }}&nbsp;{{ userToken.user.lastname }}</span>
              <ng-container *ngIf="panier.adresseLivraison">
                <span class="text-start ms-2">{{ panier.adresseLivraison.adresse }}</span>
                <span class="text-start ms-2" *ngIf="panier.adresseLivraison.complement">{{ panier.adresseLivraison.complement }}</span>
                <span class="text-start ms-2">{{ panier.adresseLivraison.codePostal }}&nbsp;{{ panier.adresseLivraison.ville }}</span>
              </ng-container>
              <span class="small-text text-black-50">
                <i class="material-icons align-items-center align-middle">chevron_right</i>
                <span class="align-middle" (click)="showChangeAdresse(false)">Modifier</span>
              </span>

            </ng-container>

            <button mat-raised-button
                    color="accent"
                    disabled
                    (click)="changeModeRetrait()"
                    class="mx-2 my-2 text-white d-flex d-sm-none">
              Modifier
            </button>
          </div>
          <button mat-raised-button
                  color="accent"
                  disabled
                  (click)="changeModeRetrait()"
                  class="mx-2 my-2 text-white d-none d-sm-flex">
            Modifier
          </button>
        </div>

        <div class="d-flex flex-row align-items-center mx-2 mx-sm-4 my-0 min-height-12em other-line" [formGroup]="retraitForm">
          <i class="material-icons align-items-center my-3 mx-2 mx-sm-4">event</i>
          <h3 class="align-middle min-size-6em font-weight-500 m-3 fs-5 text-secondary mx-2 mx-sm-4 d-none d-sm-flex text-start">Ma date</h3>
          <div class="d-flex flex-column align-items-start my-2 my-sm-3 mx-2 mx-sm-4 flex-grow-1">
            <h3 class="align-middle font-weight-500 m-2 fs-5 text-secondary mx-2 mx-sm-4 d-sm-none">Ma date</h3>
            <span class="ms-2">Vous avez choisi la date du:</span>
            <span class="ms-2 font-weight-600">{{ getDateRetrait()  | dateFR:'LUNDI DD JANVIER YYYY' }}</span>
            <div class="d-flex flex-row">
              <button mat-raised-button
                    color="accent"
                    (click)="datepicker2.open()"
                    class="mx-2 my-2 text-white d-flex d-sm-none">
                Modifier
              </button>
              <mat-form-field class="d-flex d-sm-none" style="width: 0; visibility: hidden; ">
                <input matInput [matDatepickerFilter]="myFilterDate" [matDatepicker]="datepicker2" [min]="minDateRetrait" formControlName="dateRetraitSelected">
                <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                <mat-datepicker #datepicker2>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Annuler</button>
                    <button mat-raised-button color="primary" matDatepickerApply (click)="changeDateRetrait()">Valider</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="d-none d-sm-flex" style="width: 0; visibility: hidden;">
            <input matInput [matDatepickerFilter]="myFilterDate" [matDatepicker]="datepicker" [min]="minDateRetrait" formControlName="dateRetraitSelected">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Annuler</button>
                <button mat-raised-button color="primary" matDatepickerApply (click)="changeDateRetrait()">Valider</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          <button mat-raised-button
                  color="accent"
                  (click)="datepicker.open()"
                  class="mx-2 my-auto text-white d-none d-sm-flex">
            Modifier
          </button>

        </div>

        <div class="d-flex flex-row align-items-center mx-2 mx-sm-4 my-0 min-height-12em other-line">
          <i class="material-icons align-items-center my-3 mx-2 mx-sm-4">schedule</i>
          <h3 class="align-middle min-size-6em font-weight-500 m-3 font-weight-500 fs-5 text-secondary mx-2 mx-sm-4 d-none d-sm-flex text-start">Mon heure</h3>
          <div class="d-flex flex-column align-items-start my-2 my-sm-3 mx-2 mx-sm-4 flex-grow-1">
            <h3 class="align-middle m-2 font-weight-500 fs-5 text-secondary mx-2 mx-sm-4 d-sm-none">Mon heure</h3>

            <ng-container *ngIf="changeCreneauRetrait">
              <mat-form-field class="mat-form-field-creneau ms-2" #fieldSelectCreneau>
                <mat-label>Creneau</mat-label>
                <mat-select>
                  <ng-container *ngFor="let creneau of panier.modeRetrait.creneaux">
                    <mat-option (click)="panier.creneauRetrait = creneau; this.changeCreneauRetrait = false">
                      {{ creneau.label }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="!changeCreneauRetrait">
              <span class="ms-2">Vous avez choisi le créneau de:</span>
              <span class="ms-2 font-weight-600">{{ panier.creneauRetrait ? panier.creneauRetrait.label : panier.modeRetrait.creneaux[0].label }}</span>
            </ng-container>
            <button mat-raised-button
                    color="accent"
                    (click)="changeCreneauRetrait = true"
                    class="mx-2 my-2 text-white d-flex d-sm-none">
              Modifier
            </button>
          </div>
          <button mat-raised-button
                  color="accent"
                  (click)="changeCreneauRetrait = true"
                  class="mx-2 my-auto text-white d-none d-sm-flex">
            Modifier
          </button>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row">

        <div class="d-flex flex-column text-start mt-3 flex-grow-1">
          <h3 class="text-start ms-2 ms-sm-4 font-weight-500 mb-2">Mon adresse de facturation</h3>
          <span class="text-start ms-2 ms-sm-4">{{ userToken.user.firstname }}&nbsp;{{ userToken.user.lastname }}</span>
          <ng-container *ngIf="panier.adresseFacturation">
            <span class="text-start ms-2 ms-sm-4">{{ panier.adresseFacturation.adresse }}</span>
            <span class="text-start ms-2 ms-sm-4" *ngIf="panier.adresseFacturation.complement">{{ panier.adresseFacturation.complement }}</span>
            <span class="text-start ms-2 ms-sm-4">{{ panier.adresseFacturation.codePostal }}&nbsp;{{ panier.adresseFacturation.ville }}</span>
            </ng-container>
          <span class="small-text text-black-50 ms-1 ms-sm-3">
              <i class="material-icons align-items-center align-middle">chevron_right</i>
              <span class="align-middle" (click)="showChangeAdresse(true)">Modifier</span>
          </span>

        </div>

          <div class="block-end-panier d-flex flex-row flex-sm-row mx-2 my-4 my-sm-2 flex-grow-1 align-items-center">
            <span class="fs-4 flex-grow-1 me-4 text-start text-sm-end">Montant Total TTC</span>
            <strong class="text-danger fs-3">{{ panier.montantTotal()  | number:'1.0-2'}}&nbsp;€</strong>
          </div>
      </div>
      <div *ngIf="produits.length > 0" class="text-end mt-3">
        <button matStepperNext
                class="d-inline-block"
                mat-raised-button
                (click)="goToPaiement()"
                color="primary"
                type="button">
          Etape suivante
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Paiement</ng-template>
      <h2 class="text-start ms-2 ms-sm-4">Paiement</h2>
      <div class="d-flex flex-sm-row flex-column first-line py-sm-4 py-2 mx-sm-4 mx-2">
        <div class="text-start d-flex flex-column flex-grow-1">
          <h3 class="font-weight-500 ms-sm-0 ms-2">{{ panier.modeRetrait === listModeRetrait.LIVRAISON ? 'Ma livraison' : 'Mon site'}}</h3>
          <span class="text-start ms-sm-0 ms-3">{{ userToken.user.firstname }}&nbsp;{{ userToken.user.lastname }}</span>
          <ng-container *ngIf="panier.adresseLivraison">
            <span class="text-start ms-sm-0 ms-3">{{ panier.adresseLivraison.adresse }}</span>
            <span class="text-start ms-sm-0 ms-3" *ngIf="panier.adresseLivraison.complement">{{ panier.adresseLivraison.complement }}</span>
            <span class="text-start ms-sm-0 ms-3">{{ panier.adresseLivraison.codePostal }}&nbsp;{{ panier.adresseLivraison.ville }}</span>
          </ng-container>
        </div>
        <div class="other-line d-sm-none d-flex py-2 mb-3"></div>
        <div  class="text-start d-flex flex-column flex-grow-1">
          <h3 class="font-weight-500 ms-sm-0 ms-2">Mon adresse de facturation</h3>
          <span class="text-start ms-sm-0 ms-3">{{ userToken.user.firstname }}&nbsp;{{ userToken.user.lastname }}</span>
          <ng-container *ngIf="panier.adresseFacturation">
            <span class="text-start ms-sm-0 ms-3">{{ panier.adresseFacturation.adresse }}</span>
            <span class="text-start ms-sm-0 ms-3" *ngIf="panier.adresseFacturation.complement">{{ panier.adresseFacturation.complement }}</span>
            <span class="text-start ms-sm-0 ms-3">{{ panier.adresseFacturation.codePostal }}&nbsp;{{ panier.adresseFacturation.ville }}</span>
          </ng-container>
        </div>
        <div class="other-line d-sm-none d-flex py-2 mb-3"></div>
        <div  class="text-start d-flex flex-row flex-grow-1">
          <h3 class="font-weight-500 ms-sm-0 ms-2">Montant Total TTC</h3>
          <strong class="text-danger fs-3 flex-grow-1 text-end">{{ panier.montantTotal()  | number:'1.0-2'}}&nbsp;€</strong>
        </div>
      </div>
      <h2 class="text-start ms-2 ms-sm-4 my-2">Paiement par carte bancaire</h2>
      <div class="text-start ms-2 ms-sm-4">
        <span class="d-block my-4 w-100">TODO: Ajouter une CB</span>
        <mat-checkbox class="mb-2 me-4" (click)="accepteTerm = !accepteTerm">
          <span class="label-accept-term">J’ai lu et j’accepte les <a>conditions générales de vente</a> et j’ai conscience que ma commande implique une obligation de payer *</span>
        </mat-checkbox>
      </div>
      <div class="actions text-end mx-2">
        <button mat-raised-button
                color="primary"
                (click)="submitPanier()"
                class="btn-valider-panier"
                [disabled]="!accepteTerm"
                type="submit">
          Valider
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</main>
