/* import only the necessary Bootstrap files */
$primary: #388e3c;
$secondary:#7cb342;
$danger: #d6180b;
$success: lime;
$warning: orange;
$info: darkgray;
$bg-light-grey: rgba(169, 169, 169, 0.13);
$dark: #2b3336;
$body-bg: #f3f3f0;
