app-menu-navigation {
  margin: 1em 0 0 1em;
  width: calc(20% - 1em);
  display: inline-block;
}

.content-menu-nav {
  margin: 1em;
  width: calc(80% - 2em);
}

.content-menu-nav,
app-menu-navigation {
  display: inline-block;
  vertical-align: top;
}


@media only screen and (min-width: 0) and (max-width: 993px) {

  app-menu-navigation {
    margin: 0 0 1em 0;
    width: calc(100%);
  }
  .content-menu-nav {
    margin: 0;
    width: calc(100%);
    display: block;
  }
}
