div.fond {
  background-image:url('../../assets/fond_utilisateur.jpg');
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: cover;
  height: calc(100% - 3rem);;
  background-position: center;
  padding-top: 55px;

}

