div.fond {
  background-image:url('../../assets/fond_utilisateur.jpg');
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: cover;
  height: calc(100% - 3rem);;
  background-position: center;
  padding-top: 55px;

  app-menu-navigation {
    margin: 1em 0 0 1em;
    width: calc(20% - 1em);
    display: inline-block;

  }

  .content {
    margin: 1em;
    width: calc(80% - 2em);
  }

  .content,
  app-menu-navigation {
    display: inline-block;
    vertical-align: top;
  }

}

